#entete, #menu, #contenu, #footer {
    padding:1px 0;
}
#entete {
    border-bottom-style: solid;
    border-width: 2px;
    text-align:center;
}

#menu  {
    float:left;
    width:25%;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 2px;
}

#contenu {
    float: right;
    width: 75%;
}
#footer {
    text-align:center;
    clear:both;
}
