body{
    background-color: lightgrey;
}

#entete, #menu, #contenu, #footer {
    padding:1px 0;
}

#entete{
    height: 100px;
    width: 100%;
    position: fixed;
    top:0;
    background: white;
    display: block;
    border-bottom-style: solid;
    border-width: 2px;
    overflow: hidden;
    z-index: 1;
}

#tofind {
    border-bottom-style: solid;
    border-width: 2px;
    text-align:center;
    position: fixed;
    top: 104px;
    width: 100%;
    z-index: 1;
    background: white;
    display: block;
    height: 270px;

}

#main{
    padding: 0;
    display: block;
    margin: 15px 0 50px;
    position: relative;
    top: 350px;
}



.ul{

}

.li{
    left: 0;
    opacity: 1;
    top: 0;
    display: inline-block;
}

#footer {
    text-align:center;
    clear:both;
}

table{
    text-align: left;
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
.td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
}


